doctype html
html
    head
        title Categorías
    body
        form(action=`/categories/${category.id}?_method=PUT` method="POST")
            input(name="title" placeholder="Coloca aquí el título de la categoría" value=category.title)
            input(name="color" placeholder="#000000" value=category.color)
            input(type="submit" value="Editar categoría")