doctype html
html
    head
        title Categorías
    body
        form(action="/categories" method="POST")
            input(name="title" placeholder="Coloca aquí el título de la categoría")
            input(name="color" placeholder="#000000")
            input(type="submit" value="Guardar categoría")