doctype html
html
    head
        title Categorías
    body
        h1(style={color: category.color})= category.title
        p= category.createdAt
        form(action=`/categories/${category.id}?_method=DELETE` method="POST")
            input(type="submit" value="Eliminar categoría")