doctype html
html
    head
        title Tareas
    body
        form(action="/tasks" method="POST")
            input(type="text" name="categories" placeholder="ID de categorías separados por coma")
            textarea(name="description" placeholder="Coloca aquí el pendiente a realizar")
            input(type="submit" value="Guardar")